
body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #3e2b1a;
}

.Main {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin: 0 auto;
}

.Main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 105px 90px;
}

.about {
    margin-bottom: 40px;
}




.заголовок {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.опис {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 400px;
}

.Відомості {
    margin-bottom: 45px;
}

.заголовок_відомості1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.організація {
    color: #b68843;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.Маса_Плутноу_ліст {
    padding: 0;
    margin-left: 15px;
}

.узагальнення_ліст {
    padding: 0;
    margin-left: 15px;
    list-style-type:  circle;
}

.ліст_текст {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.img {
    border-radius: 16px;
background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
}

.Цікаві_факти {

}

.Цікаві_факти_список{
    padding: 0;
    margin-left: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.gallery-item {
  margin: 10px;
}

.Sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.Photo {
    width: 370px;
    margin-bottom: 50px;
}


.Супутники {
    margin-left: 40px;
}


.Супутники_Заголовок {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    margin-bottom: 10px;
}
.Апарати_заголовок{
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    margin-bottom: 10px;
}

.ліст_супутники {
    color: #FFF;
    padding: 0;
    margin-left: 17px;
}

.Цікаві_факти_ліст{
    color: #1E2939;
}

.Цікаві_факти_ліст_головне {
    color: #b68843;
}

.супутники_ліст{
    color: #b68843;
    list-style-type: square;
}

.Супутники_текст {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400px;
    line-height: 24px;
}

.Апарати {
    margin-left: 40px;
}

.Апарати_лист {
    color: #FFF;
    padding: 0;
    margin-left: 17px;
    list-style-type: square;
}

.Апарати_лист1 {
    color: #b68843;
}

.Апарати_текст {  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
}

.посилання_зонд {
    color: #FFF;
}
