
body {
    font-family: 'Montserrat', sans-serif;
}

/* Main styles */

.Main {
    display: flex;
    flex-direction: row-reverse;
    background-color: F5F7FA;
    width: 1200px;
    margin: 0 auto;
}

/* Main content styles */

.Main-content {
    background-color: #FFFFFF;
}

/* about styles */
.about {
    background-color: yellow;
}

/* projet styles */

.projects {
    background: chocolate;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px;

    /* margin: 100px 90px 300px 60px;

    margin: 50px;

    margin: 100px 50px; */
}

.project-title {
    font-size: 45px;
    color: rgb(0, 38, 255);
}

/* work styles */

.Work {
    background: cyan;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px;

    /* padding: 100px 40px 50px 20px;

    padding: 50px;
    
    padding: 50px 100px; */
}

/* Education styles */

.Education {
    background-color: darkblue;
}


/* Sidebar styles */

.Sidebar {
    background-color: #1E2939;
}